#s-0934d045-80da-448a-adbb-e0ed1ba57c4f > #backgroundBox {
  background-color: #1BDAF1;
  position: absolute;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f > #alignmentBox {
  position: relative;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_6 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_6 span#rtr-s-Button_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_7 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_8 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_8 span#rtr-s-Button_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_9 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_9 span#rtr-s-Button_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_10 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_10 span#rtr-s-Button_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_11 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_11 span#rtr-s-Button_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_12 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Button_12 span#rtr-s-Button_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_3 {
  position: absolute;
  width: 152.44628906249955px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_1 {
  position: absolute;
  width: 1334.0000000000005px;
  min-height: 473.21612166939667px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Image_1 {
  position: absolute;
  width: 774.0px;
  height: 507.00000000000045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0934d045-80da-448a-adbb-e0ed1ba57c4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}